@media screen and (max-height: 300px) {
	section {background-color: red;}
}

body {min-height: 50em;}
main {position: absolute; z-index: 1;
	display: block;
top: 0; left:0; right:0; margin:0; bottom:0; box-sizing: border-box; padding-top: 2em;}

section {
	padding: 2em;
	background: rgba(200,200,200,0.5);
	position: absolute;
	top: 8em;
	bottom:8em;
	left:12em;
	right:12em;
	border-radius: 0.5em;
	overflow: auto;}


header label {padding: .5em; font-size: 1.25em;}

header {
	position:relative;
	z-index: 2;
	background-color: #666;
	display: block;
	margin: 0 12em;
	padding: 0 .5em;
	color: white;
	border: 1px solid #222;
	box-shadow: 0 0 2em rgba(50,50,50,0.7);
	border-top: none;
}

header button {
	color: black;
	background-color: rgb(200,200,200);
	border-radius: 0.25em;
	border: 1px solid black;
	padding: .25 .5em;
	margin: 0.25em;
}

header button:hover {color: white; background: #333; border-color: white;}

#home button {
	display: inline-block;
    position: fixed;
    width: 6em;
    height: 4em;
    font-size: 2em;
    margin: auto;
}

.middle {top:0; bottom:0;}
.top {top:0;}
.bottom {bottom:0;}
.left {left:0;}
.right {right:0;}
.center {left:0; right:0;}

section > div {
	min-width: 50%;
	max-width: 60em;
	min-height: 50%;
	max-height: 95%;
	background-color: #fafafa;
	padding: 2em;
	border-radius: 1em;
	overflow: auto;
}

.abs_center {
	display: inline-block;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}