.icon {height: 50%; width: 50%; float: right; border: 1px dashed red;}

main::before {
	display:block;
	position: absolute;
	z-index: -1;
	top:0;
	left:0;
	right:0;
	bottom:0;
	content: "";
	
background: -moz-linear-gradient(top,  rgba(61,72,102,0.33) 0%, rgba(255,255,255,0) 50%, rgba(61,72,102,0.33) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(61,72,102,0.33) 0%,rgba(255,255,255,0) 50%,rgba(61,72,102,0.33) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(61,72,102,0.33) 0%,rgba(255,255,255,0) 50%,rgba(61,72,102,0.33) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#543d4866', endColorstr='#543d4866',GradientType=0 ); /* IE6-9 */
}

main::after {
display:block;
	position: absolute;
	z-index: -2;
	top:0;
	left:0;
	right:0;
	bottom:0;
	content: "";

	background: -moz-linear-gradient(left, rgba(61,72,102,0.33) 0%, rgba(255,255,255,0) 50%, rgba(61,72,102,0.33) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(61,72,102,0.33) 0%,rgba(255,255,255,0) 50%,rgba(61,72,102,0.33) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(61,72,102,0.33) 0%,rgba(255,255,255,0) 50%,rgba(61,72,102,0.33) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

main {

	position: absolute; z-index: 1;
	display: block;
top: 0; left:0; right:0; margin:0; bottom:0; box-sizing: border-box; padding-top: 2em;
}

section {
	padding: 2em;
	background: #eee;
	position: absolute;
	top: .5em;
	bottom:.5em;
	left:13em;
	right:13em;
	border-radius: 0.5em;
	overflow: auto;
	box-sizing: border-box;
	border: 1px solid #bbb;
	box-shadow: 0 0 6em #777;
}


header label {padding: .5em; font-size: 1.25em;}

header {
	position:relative;
	z-index: 2;
	background-color: #666;
	display: block;
	margin: 0 12em;
	padding: 0 .5em;
	color: white;
	border: 1px solid #222;
	box-shadow: 0 0 2em rgba(50,50,50,0.7);
	border-top: none;
	opacity: 0.75;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}

header:hover {opacity: 1;}

header button {
	color: black;
	background-color: rgb(200,200,200);
	border-radius: 0.25em;
	border: 1px solid black;
	padding: .25 .5em;
	margin: 0.25em;
}

header button:hover {color: white; background: #333; border-color: white;}

button.fixed {
	display: inline-block;
    position: fixed;
    width: 6em;
    height: 4em;
    font-size: 2em;
    margin: auto;
    border-radius: .25em;
    border: none;
    box-shadow: 
    	.125em .125em .25em rgba(25,25,25,0.7),
    	inset -.125em -.125em .25em rgba(25,25,25,0.4),
    	inset .125em .125em .5em rgba(255,255,255,0.7);
    transform: translate(0,0);
    transition-property: transform, background-color, box-shadow;
    color: black;
}
button.fixed:active, button.fixed:focus {
	transform:translate(.05em,.07em);
	transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    background-color: rgba(255,255,190,0.8);
    outline:none;
    box-shadow: 
    	.1em .1em .125em rgba(25,25,25,0.7),
    	inset -.125em -.125em .25em rgba(25,25,25,0.4),
    	inset .125em .125em .5em rgba(255,255,255,0.7);
}

.middle {top:.25em; bottom:.25em;}
.top {top:.25em;}
.bottom {bottom:.25em;}
.left {left:.25em;}
.right {right:.25em;}
.center {left:.25em; right:.25em;}

section > div {
	min-width: 50%;
	max-width: 60em;
	min-height: 50%;
	max-height: 95%;
	background-color: #fafafa;
	padding: 2em;
	border-radius: 1em;
	overflow: auto;
}

.abs_center {
	display: inline-block;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 6em #ccc;
}

.abs {position: absolute; margin:auto; padding:auto;}